 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 569px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-form-1 {
  height: 367px;
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 245px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 49px 311px 0 26px;
}

.u-section-2 .u-text-2 {
  margin: 20px 846px 0 52px;
}

.u-section-2 .u-icon-1 {
  width: 16px;
  height: 16px;
  margin: -21px auto 0 26px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 5px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 16px;
  height: 16px;
  margin: -20px auto 0 26px;
}

.u-section-2 .u-text-3 {
  margin: 6px auto 0 52px;
}

.u-section-2 .u-icon-3 {
  width: 16px;
  height: 16px;
  margin: -21px auto 0 26px;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 5px auto 0 52px;
}

.u-section-2 .u-icon-4 {
  margin-top: 2px;
}

.u-section-2 .u-icon-5 {
  width: 16px;
  height: 16px;
  margin: -21px auto 54px 26px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 698px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 98px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 217px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 49px 311px 0 26px;
}

.u-section-3 .u-text-2 {
  margin: 44px auto 0 49px;
}

.u-section-3 .u-text-3 {
  margin: -50px auto 0 49px;
}

.u-section-3 .u-icon-1 {
  width: 16px;
  height: 16px;
  margin: -20px auto 0 26px;
}

.u-section-3 .u-icon-2 {
  width: 16px;
  height: 16px;
  margin: 9px auto 0 26px;
}

.u-section-3 .u-text-4 {
  margin: 5px auto 0 49px;
}

.u-section-3 .u-icon-3 {
  width: 16px;
  height: 16px;
  margin: -21px auto 53px 26px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 137px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}